.emeraldcity {
  background: #50c878;
}

.book-image {
  max-height: 300px;
  width: auto;
}

.carousel-item {
  text-align: center;
  margin: 0;
}

.carousel-image {
  height: 300px;
  width: auto;
  margin: 0;
  margin-bottom: 80px;
}

.title-row {
  text-align: center;

  h1 {
    width: 100%;
  }
}