.eastcarmine {
  background: #960018;
  background: -webkit-linear-gradient(left, orange, red);
  background: -o-linear-gradient(right, orange, red);
  background: -moz-linear-gradient(right, orange, red);
  background: linear-gradient(to right, orange, red);
}

.carousel-img {
  max-height: 300px;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 150px;
}

.carousel-item {
  background: black;
  padding: 50px;
}

.carousel-container {
  margin-top: 50px;

  .card {
    display: inline-block;
    margin: 20px;
  }
}

h3 {
  width: 100%;
  text-align: center;
}