#colorWheel {
    height: 20px;
    width: 20px;
    background: conic-gradient(from 90deg, violet, indigo,  blue, green, yellow, orange, red, violet);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
